.student-name {
  color: rgb(255, 251, 0);
  font-style: italic;
}
span {
  color: green;
  font-size: 35px;
}
.center {
  margin: 5px auto;
}
.student-div {
  height: 250px;
  max-width: fit-content;
  margin-bottom: 30px;
}
.student-grey {
  width: 180px;
  height: 250px;
  background-color: #333;
  cursor: pointer;
  border: 1px solid #fff;
}
.student-grey:hover {
  background-color: #111111;
}
